body{
	background-color: orange;
}
.error{
	color: red;
}
body,
.btn,
.form-control,
#signUp,
#signIn,
#account {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}
.container {
  padding: 20px;
  width: 400px;
  height: auto !important;
  margin: 100px auto;
  margin-top: 250px;
  position: relative;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  min-height: 38px;
  padding-left: 5px;
  box-shadow: none !important;
  border-width: 0 0 1px 0;
  border-radius: 0;
}
#checkbox {
  padding-left: 28px;
}
#terms,
#signIn {
  color: rgb(34, 185, 255);
  margin-left: 5px;
}
#account {
  color: lightslategrey;
  padding-left: 10px;
}
#forgotPassword {
  color: gray;
  padding-left: 5px;
}
